<div class="list-ad-strip">
  <small class="ad-label">광고</small>
  <div class="lad-unit">
    <tenping class="adsbytenping" style="width:100%;max-width:680px;display:block;margin:0 auto;"
      tenping-ad-display-type="1LawCE8FqKOhetXZhMopsQ%3d%3d"
      tenping-ad-client="BdnhcMfPBvtcqWy4TeF3452t47SWFwraO4StFWXx1U%2fSBFm9k9OQo1uJHpkxwqxi">
    </tenping>
  </div>
  <div class="lad-unit lad-coupang"></div>
  <div class="lad-unit">
    <ins class="kakao_ad_area" style="display:none;"
      data-ad-unit="DAN-jzmk9rPd9goT1dXv"
      data-ad-width="320"
      data-ad-height="100">
    </ins>
  </div>
</div>
