{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- with .Params.categories }}
{{- $cat := index . 0 }}
{{- $catURL := printf "categories/%s/" ($cat | urlize) | absURL }}
{{- $scratch.Add "meta" (slice (printf "<a class=\"post-cat\" href=\"%s\">#%s</a>" $catURL $cat)) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- /* 조회수 — 단일 포스팅 페이지(.IsPage)에서만 표시·증가 */ -}}
{{- if and site.Params.firebaseDbUrl .IsPage }}
{{- $vcSpan := printf "<span class=\"post-views\">👁 <span class=\"vc-num\" data-slug=\"%s\" data-db=\"%s\">-</span></span>" .Slug site.Params.firebaseDbUrl }}
{{- $scratch.Add "meta" (slice $vcSpan) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end }}

{{- if and site.Params.firebaseDbUrl .IsPage }}
<script>
(function () {
  var el = document.querySelector(".vc-num");
  if (!el) return;
  var slug = el.getAttribute("data-slug");
  var db   = el.getAttribute("data-db").replace(/\/$/, "");
  var url  = db + "/views/" + slug + ".json";
  fetch(url)
    .then(function (r) { return r.json(); })
    .then(function (n) {
      n = (n || 0) + 1;
      fetch(url, { method: "PUT", body: JSON.stringify(n) });
      el.textContent = n.toLocaleString("ko-KR");
    })
    .catch(function () { el.textContent = ""; });
})();
</script>
{{- end }}
